In [62]:
# Import libraries
from bs4 import BeautifulSoup
import requests
import time
import datetime
import csv
import pandas as pd

import smtplib  # for ending emails to yourself

Connect to Website

In [6]:
url = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

# http://httpbin.org/get -- to get your own specific header
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/105.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(url, headers=headers)

In [19]:
soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

Begin parsing out sections of url page

In [44]:
title = soup2.find(id="productTitle").get_text()

In [45]:
print(title)

                   Funny Got Data MIS Data Systems Business Analyst T-Shirt

In [24]:
# price = soup2.find(id="corePriceDisplay_desktop_feature_div").get_text()

In [47]:
price = soup2.find('span', {'class':'a-offscreen'})
print(price)

<span class="a-offscreen">
                  $16.99
                 </span>

In [48]:
price = price.text  # grabbing only the price; stripped away </span> from the output

In [49]:
print(title)
print(price)

                   Funny Got Data MIS Data Systems Business Analyst T-Shirt


                  $16.99

In [50]:
price = price.strip()[1:]  # strip off the empty white space and the first index ($)
title = title.strip()

In [51]:
print(title)
print(price)

Funny Got Data MIS Data Systems Business Analyst T-Shirt
16.99

In [53]:
type(price)

str

Add a date column

In [59]:
today = datetime.date.today()
print(today)

2022-09-14

Create CSV and insert the data into CSV, and append new data into CSV

In [60]:
header = ['Title', 'Price', 'Date']
data = [title, price, today]  # convert string variables into a list

type(data) 

with open('WebScraperDataset_Amazon.csv', 'w', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)  # creating CSV
    writer.writerow(header)  # inserting header 
    writer.writerow(data)  # inserting the data

Use Pandas to read the CSV to check its contents

In [77]:
df = pd.read_csv('WebScraperDataset_Amazon.csv')

In [78]:
df

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  16.99  2022-09-14
1  Funny Got Data MIS Data Systems Business Analy...  16.99  2022-09-14
2  Funny Got Data MIS Data Systems Business Analy...  16.99  2022-09-14
3  Funny Got Data MIS Data Systems Business Analy...  16.99  2022-09-14
4  Funny Got Data MIS Data Systems Business Analy...  16.99  2022-09-14
5  Funny Got Data MIS Data Systems Business Analy...  16.99  2022-09-14
6  Funny Got Data MIS Data Systems Business Analy...  16.99  2022-09-14
7  Funny Got Data MIS Data Systems Business Analy...  16.99  2022-09-14

Data over time (append to csv)

In [76]:
with open('WebScraperDataset_Amazon.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)  # creating CSV
    writer.writerow(data)  # inserting the data

Automating the process

In [79]:
# Import libraries
from bs4 import BeautifulSoup
import requests
import time
import datetime
import csv
import pandas as pd

def check_price():
    url = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'
    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/105.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}
    page = requests.get(url, headers=headers)
    soup1 = BeautifulSoup(page.content, "html.parser")
    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")
    title = soup2.find(id="productTitle").get_text()
    price = soup2.find('span', {'class':'a-offscreen'})
    price = price.text
    price = price.strip()[1:]
    title = title.strip()
    today = datetime.date.today()
    header = ['Title', 'Price', 'Date']
    data = [title, price, today]
    
    with open('WebScraperDataset_Amazon.csv', 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)
    
    if(price < 14):
        send_mail()

In [82]:
while True:
    check_price()
    time.sleep(5)  # 5 seconds it will run through the process

In [81]:
df = pd.read_csv('WebScraperDataset_Amazon.csv')
df

                                                Title  Price        Date
0   Funny Got Data MIS Data Systems Business Analy...  16.99  2022-09-14
1   Funny Got Data MIS Data Systems Business Analy...  16.99  2022-09-14
2   Funny Got Data MIS Data Systems Business Analy...  16.99  2022-09-14
3   Funny Got Data MIS Data Systems Business Analy...  16.99  2022-09-14
4   Funny Got Data MIS Data Systems Business Analy...  16.99  2022-09-14
5   Funny Got Data MIS Data Systems Business Analy...  16.99  2022-09-14
6   Funny Got Data MIS Data Systems Business Analy...  16.99  2022-09-14
7   Funny Got Data MIS Data Systems Business Analy...  16.99  2022-09-14
8   Funny Got Data MIS Data Systems Business Analy...  16.99  2022-09-14
9   Funny Got Data MIS Data Systems Business Analy...  16.99  2022-09-14
10  Funny Got Data MIS Data Systems Business Analy...  16.99  2022-09-14
11  Funny Got Data MIS Data Systems Business Analy...  16.99  2022-09-14
12  Funny Got Data MIS Data Systems Business Analy...  16.99  2022-09-14

Email portion of project

In [ ]:
def send_mail():
    server = smtplib.SMTP_SSL('smtp.gmail.com', 465)
    server.ehlo()
    #server.starttls()
    server.ehlo()
    server.login('xxxxx@email.com', 'pwordxxxxxxx')

    subject = "The shirt you want is below $15! Now is your chance to buy!"
    body = "Now is the moment you've been waiting for. Buy it now!"

    msg = f"Subject: {subject}\n\n{body}"ArithmeticError
    
    server.sendmail(
        'xxxxx@email.com',
        msg
    )